* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
}

/* header starts here */

.showPage {
    background-image: url(/assets/Little\ Bit\ of\ Everything\ GoDaddy\ Store\ Image\ \(4\).png);
    background-size: contain;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.showPage h1 {
    color: #fff;
    font-size: 2rem;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.navbar-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
}

.navbar-nav li a{
    margin-right: 20px;
    text-decoration: none;
    color: #FFECCE;
}

.navbar-nav li a:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
}

/* section 1 starts here */

#section-1 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}

.section1-main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap: wrap;
    padding: 40px;

}

.section1-main img {
    height: 70vh;
    width: 100vh;
    margin-left: 40px;
}

#section-1 h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.section-1-paragraph{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-around;
}
.section-1-paragraph p{
    margin-bottom: 30px;
}

/* section 2 starts */

#section-2 {
    text-align: center;
    padding: 40px;
    background-image: url(/assets/blob-scene-haikei.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

#section-2 h1 {
    margin: 40px;
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    text-shadow: 0 0 3px black;
}

.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    margin: 30px auto;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    transition: 0.4s;
}

.card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 10px;
}

.card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 10px;
    object-fit: cover;
}

.card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
    text-shadow: 0 0 3px black;
}

.card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
        -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.title-white {
    color: white;
}

.title-black {
    color: black;
}

/* section 3 starts here */

.section-3 {
    height: 100vh;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 80px 110px 80px;
}

.section-3 h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.section3-container img {
    height: 10vh;
    width: 10vh;
}

.section3-container h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.section3-container {
    border-top: #273036 solid 3px;
    border-bottom: #273036 solid 3px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

/* footer starts here */

#footer {
    width: 100%;
    position: relative;
    height: 50vh;
    background-color: #AF8369;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer .col {
    width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
}

#footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: #944E32;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
}

#footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#footer .col ul li {
    color: #FFECCE;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}

.social ul li {
    display: inline-block;
    padding-right: 5px !important;
}

#footer .col ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
}

.clearfix {
    clear: both;
}